<%- include("../partials/header.ejs") %>

<body data-spy="scroll" data-target=".navbar" data-offset="90">

  <!-- START LOADER -->
  <div class="loader-bg">
      <div id="container">
          <svg viewBox="0 0 100 100">
              <defs>
                  <filter id="shadow">
                      <feDropShadow dx="0" dy="0" stdDeviation="0.5"
                                    flood-color="#dabd1d"/>
                  </filter>
              </defs>
              <circle id="spinner" style="fill:transparent;stroke:#ed2d34;stroke-width: 8px;stroke-linecap: round;filter:url(#shadow);" cx="50" cy="50" r="45"/>
          </svg>
      </div>
  </div>
  <!-- END LOADER -->
  
  <!-- START HEADER -->
  <div class="wrap_container cursor-light">
    <div class="main_container">
      <div class="side_nav">
          <div class="my-sticky-nav">
              <div class="side_menu">
                  <div id="my_tog" class="my_tog link" onmouseover="my_click();">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
                  <div>
                  </div>
                  <nav class="side-nav-menu">
                      <ul class="nav-menu nav-fill" id="menu">
                          <li class="nav-item">
                              <a data-menuanchor="home-banner" class="nav-link link active line" href="/landing">Home </a>
                          </li>
                          <li class="nav-item">
                              <a data-menuanchor="all-products" class="nav-link link line" href="/supplier/tenders">Tender Details</a>
                          </li>
                          <li class="nav-item">
                              <a data-menuanchor="reviews" class="nav-link link line" href="/supplier/tenders/participated">Tenders Participated</a>
                          </li>
                          <li class="nav-item">
                            <a data-menuanchor="reviews" class="nav-link link line" href="/logout">Logout</a>
                        </li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
      <header id="home">
          <nav class="navbar navbar-light bg-light cursor-light d-md-none">
              <div class="my_nav_tog d-block d-md-none">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </nav>
          <div class="broad">
              <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
              <nav class="side-nav-menu">

                  <ul class="nav-menu nav-fill">
                      <li class="nav-item">
                          <a class="nav-link" href="/landing">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/supplier/tenders">Tender Details</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/supplier/tenders/participated">Tenders Participated</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                  </ul>
              </nav>
          </div>
      </header>
  </div>
    </div>
    <div id="pagepiling">
  <div class="container my-5">
      <h1>Tender Details</h1>
      <div class="row">
        <div class="col-md-6">
            <h3>Tender Name: </h3>
        </div>
          <div class="col-md-6">
              <h4><%=responses[0].t_name%></h4>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <h3>Start Time: </h3>
        </div>
          <div class="col-md-6">
              <p><%=responses[0].t_opentime.toString()%></>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <h3>End Time: </h3>
        </div>
          <div class="col-md-6">
              <p><%=responses[0].t_closetime.toString()%></>
          </div>
      </div>
      <hr>
      <h2 class="my-5">PRODUCTS AND YOUR QUOTES</h2>
      <div class="row">
        <div class="col-md-4">
            <h3>PRODUCT NAME</h3>
        </div>
        <div class="col-md-4">
            <h3>PRODUCT MRP (In Rs)</h3>
        </div>
        <div class="col-md-4">
          <h3>YOUR QUOTE (In Rs)</h3>
      </div>
    </div>
     <% for(x in responses){%>
          <div class="row">
              <div class="col-md-4">
                  <h3><%=responses[x].p_name%></h3>
              </div>
              <div class="col-md-4">
                  <h3><%=responses[x].p_mrp%></h3>
              </div>
              <div class="col-md-4">
                <h3><%=responses[x].cost%></h3>
            </div>
          </div>
      <%}%>
        </div>

      <%- include("../partials/footer.ejs") %>