<%- include("../partials/header.ejs") %>

<body data-spy="scroll" data-target=".navbar" data-offset="90">

  <!-- START LOADER -->
  <div class="loader-bg">
      <div id="container">
          <svg viewBox="0 0 100 100">
              <defs>
                  <filter id="shadow">
                      <feDropShadow dx="0" dy="0" stdDeviation="0.5"
                                    flood-color="#dabd1d"/>
                  </filter>
              </defs>
              <circle id="spinner" style="fill:transparent;stroke:#ed2d34;stroke-width: 8px;stroke-linecap: round;filter:url(#shadow);" cx="50" cy="50" r="45"/>
          </svg>
      </div>
  </div>
  <!-- END LOADER -->
  
  <!-- START HEADER -->
  <div class="wrap_container cursor-light">
    <div class="main_container">
      <div class="side_nav">
          <div class="my-sticky-nav">
              <div class="side_menu">
                  <div id="my_tog" class="my_tog link" onmouseover="my_click();">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
                  <div>
                  </div>
                  <nav class="side-nav-menu">
                      <ul class="nav-menu nav-fill" id="menu">
                          <li class="nav-item">
                              <a data-menuanchor="home-banner" class="nav-link link active line" href="/landing">Home </a>
                          </li>
                          <li class="nav-item">
                              <a data-menuanchor="all-products" class="nav-link link line" href="/supplier/tenders">Tender Details</a>
                          </li>
                          <li class="nav-item">
                              <a data-menuanchor="reviews" class="nav-link link line" href="/supplier/tenders/participated">Tenders Participated</a>
                          </li>
                          <li class="nav-item">
                            <a data-menuanchor="reviews" class="nav-link link line" href="/logout">Logout</a>
                        </li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
      <header id="home">
          <nav class="navbar navbar-light bg-light cursor-light d-md-none">
              <div class="my_nav_tog d-block d-md-none">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </nav>
          <div class="broad">
              <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
              <nav class="side-nav-menu">

                  <ul class="nav-menu nav-fill">
                      <li class="nav-item">
                          <a class="nav-link" href="/landing">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/supplier/tenders">Tender Details</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/supplier/tenders/participated">Tenders Participated</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                  </ul>
              </nav>
          </div>
      </header>
  </div>
    </div>
    <div id="pagepiling">
<div class="container my-5">
    <h3 class="my-5 text-center">RESULTS OF THE TENDER</h3>

    <%if(check.length==0){%>
      <h4 class="my-5 text-center" style="color:red" text-center>
        YOU HAVEN'T PARTICIPATED IN THIS TENDER!
      </h4>
    <%}%>
    <div class="my-5 row " style="border:1px black solid">
        <div class="col-md-6">
            <h1 class="my-2">
             PRODUCT NAME
            </h1>
        </div>
        <div class="col-md-6">
         <h1 class="my-2">
           MRP
         </h1>
     </div>
    </div>
     <% for(x in product){%>
            <%if(x==0){%>
                <div class="my-5 row ">
           <% }else{%>
                <div class="my-5 row " style="border-top:1px black solid">
           <% }%>
                <div class="col-md-6">
                    <h1 class="my-2">
                      <%=product[x].p_name%>
                    </h1>
                </div>
                <div class="col-md-6">
                 <h1 class="my-2">
                   <%=product[x].p_mrp%>
                 </h1>
             </div>
            </div>
            <div class="row">
               <div class="col-md-12">
              <%if(check.length!=0){%>
                <%  if(product[x].su_id==sid){%>
                  <h4>CONGRATULATIONS! YOU HAVE WON THE CONTRACT FOR THIS PRODUCT! (COST: <%=product[x].pc_perunit%>)</h4>
              <%}else{%>
                  <h4>Sorry! YOU HAVE LOST THE CONTRACT FOR THIS PRODUCT!(COST QUOTED BY THE SUPPLIER WHO HAS GOT IT IS: <%=product[x].pc_perunit%>)</h4>
              <%}%>
              <%}else{%>
                <h4>COST QUOTED BY THE SUPPLIER WHO HAS GOT IT IS: <%=product[x].pc_perunit%></h4>
              <%}%>
               </div>
            </div>
      <%}%>
</div>
</div>
<%- include("../partials/footer.ejs") %>